%h1
  Step 1
= form_for @questionnaire, url: questionnaire_step1_path do |f|
  = hidden_field_tag :direction, 'next'

  = f.text_field :attribute1

  = link_to :next, "javascript:void(0)", id: 'knowmore-next', method: :post


:javascript
  var $directionInput = $('input#direction'),
    $previousLink = $('a#knowmore-previous'),
    $nextLink = $('a#knowmore-next');

  if($previousLink != null){
    $previousLink.on('click', function(e){
      e.preventDefault();
      $directionInput.val('previous');
      $('form').submit();
    });
  }
  if($nextLink != null){
    $nextLink.on('click', function(e){
      e.preventDefault();
      $directionInput.val('next');
      $('form').submit();
    });
  }
