<!DOCTYPE html>
<html>
<head>
  <title>Know more</title>
  <%= stylesheet_link_tag    "know_more/application", media: "all" %>
  <%= javascript_include_tag "know_more/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
